html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}
html,
body,
#app {
  color: black;
  background-color: rgb(255, 255, 254);
  font-weight: 350;
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 0.01rem;

  word-spacing: 0.02rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
}

button:focus {
  background-color: transparent;
}

.list-image {
  border-radius: 13px;
  min-height: 70px;
  min-width: 70px;
  max-height: 70px;
  max-width: 70px;
  padding: 10px;
  object-fit: cover;
}
.menu-button {
  width: 100px;
  height: 30px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 45px;
  cursor: pointer;
  border: 1px solid black;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: -15px;
  padding: 0px;
  max-width: 400px;
}

.search-input {
  margin: 0px !important;
}

.browser-default {
  max-width: 100px;
  border: none !important;
  border-radius: 0px;
  color: black;
  padding: 0px;
  border-bottom: 1px solid black !important;
  outline: none !important;
  padding-left: 5px;
}

.list-panel {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  padding-top: 0px;
}

.list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 225px;
  height: 45px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  margin: 40px;
  background: rgb(255, 255, 253) !important;
  box-shadow: 2px 2px 6px rgb(230, 230, 240), -2px -2px 6px rgb(240, 240, 240);
}
.list-button:hover {
  box-shadow: 2px 2px 3px rgb(230, 230, 240) inset,
    -2px -2px 2px rgb(255, 255, 255) inset;
  background: rgba(250, 250, 253);
}
.list-button:active {
  box-shadow: 0px 0px 40px rgba(120, 180, 250, 0.2) !important;
  background: rgba(240, 245, 243);
}

.yellow-button {
  width: 200px;
  height: 50px;
  background: rgba(255, 255, 100, 0.6);
  border: 3px solid black;
  outline: none !important;
  font-weight: bold;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  cursor: pointer;
  color: black;
  text-align: center;

  border-radius: 5px;
}

.yellow-button:hover {
  background: rgba(255, 245, 0, 1);
  box-shadow: 0px 0px 5px black;
}

.artwork-image {
  max-width: 100%;
  max-height: 100%;
}
.card-image {
  max-width: 100%;
  max-height: 100%;
}
.outline-button {
  width: 250px;
  height: 50px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  font-weight: bold;

  margin-top: 30px;
  cursor: pointer;
  color: black;
}

.prefix {
  color: rgb(185, 187, 185);
}

.input-field .prefix.active {
  color: rgb(0, 0, 0);
}

.nav {
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-around;
  box-shadow: none;
}

.stripe {
  height: 5px;
  width: 100%;
  margin: 20px;
  background: rgb(250, 240, 0);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
}

.nav-content {
  background: white;
  margin-top: -35px;
  height: 40px;

  border-bottom: 1px solid rgba(220, 230, 200, 0.7);
}

.nav-width {
  width: 450px;
}
.nav-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding: 15px;
  font-size: 12px;
  margin-top: 7px;
  z-index: 1000;
  width: 75px;
  height: 30px;
  font-weight: 600;
  border: none;
  background: transparent;
  font-family: "Gill Sans";
  cursor: pointer;
}

.nav-tab:hover {
  background-color: rgba(255, 255, 100, 0.5);
}
.card-action {
}

.subContent {
  font-size: 12px;
  margin-left: 3px;
}

.modal {
  padding: 100px;
}
.card-content {
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: right;
  right: 0px;
  text-align: left;
  padding: 15px;
  color: black;
}

.card-content:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.art-content {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: right;
  right: 0px;
  text-align: left;
  margin-left: 3px;
  padding: 10px;
  color: black;
  width: 100%;
}

.admin-image-add {
  height: 100px;
}

.card-container {
  margin: 200px 0px;
  max-width: 500px;
}
.logo {
  width: 130px;

  margin-top: 12px;
}
.gallery-content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 500px;
}
.art-content-container {
  display: flex;

  justify-content: space-between;
  margin-top: 30px;

  max-width: 700px;
}

.outline-button:hover {
  background: rgba(255, 245, 0, 1) !important;
  .transition: 0.5s;
}
.landing-about {
  float: left;
  height: 300px;
  margin: 30px;
  margin-top: 0px;
  display: flex;
  align-items: center;
}
.landingBlob {
  padding: 40px;
  position: absolute;
  text-align: left;
  right: 20px;
  top: 80px;
  left: 20px;
}

.login-form {
  width: 400;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding: 50px;
  margin: 50px;
  background: white;
}

.full-width {
  width: 100%;
}

.column {
  flex-direction: column;
}

.nav-wrapper {
  background-color: rgba(255, 250, 100, 0.02);
}
.pointer {
  cursor: pointer;
}

.right {
  margin-right: 20px;
}
.header-stripe {
  width: 100%;
  background: rgb(250, 240, 0);
  height: 4px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-image {
  max-width: 400px;
}

.add-image {
  width: 50%;
}
.type-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin-top: 20px;
}
.type-image {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.type-card {
  margin: 10px;
  color: black;

  border-radius: 5px;
  font-size: 14px;
  background: rgba(255, 255, 255);
  border: 1px solid rgb(240, 240, 230);
  box-shadow: 0px 0px 15px rgba(200, 202, 220, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  letter-spacing: 0.02em;
  font-weight: 550;
  cursor: pointer;
  font-size: 15px;
}

.type-card:hover {
  background: rgb(255, 255, 255);
  opacity: 0.9;
  color: black;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2) inset;
  color: rgb(75, 75, 75);
}
.iframe {
  width: 560px;
  height: 315px;
}

.home-image {
  width: 30vw;
  height: 30vw;

  object-fit: cover;
}

.collection {
  border: none;
  background: transparent;
  margin-top: 20px;
}

.list-item {
  display: flex;
  background: rgb(249, 252, 252) !important;
}

.list-item:hover {
  background: rgb(243, 243, 243) !important;
}
.list-item:active {
  background: rgb(244, 244, 244) !important;
}
.about-self-image {
  float: left;
  margin: 20px;
  margin-left: 0px;
  margin-bottom: 10px;
  height: 300px;
}
.type-box-cover:hover {
  background: none;
  text-shadow: 0px 0px 10px white;
  color: black;
}

.banner {
  background: rgba(255, 255, 100, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100vw;
  font-size: 16px;
  position: fixed;
  text-align: center;
  flex-direction: column;
  bottom: 0;
}

.list-container {
  margin: 40px 5px;
  margin-top: 20px;
  padding: 5px;
  max-width: 600px;
  width: 100%;
}

.about-title {
  margin-bottom: 30px;
  text-decoration: underline;
}
.about-container {
  display: flex;
  padding: 20px;
  justify-content: center;

  flex-direction: column;
  font-size: 16px;
  margin-bottom: 200px;
}

@media only screen and (max-width: 500px) {
  .iframe {
    width: 200px;
    height: 200px;
  }

  .landingBlob {
    padding: 20px;
    position: absolute;
    text-align: left;
    right: 30px;
    top: 20px;
    left: 10px;
  }
  .gallery-image {
    max-width: 250px;
  }
  .landing-about {
    float: center;
    height: 200px;
    margin: 10px;
  }

  .carousel-image {
    width: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .nav-tab {
    font-size: 10px;

    width: 55px;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 120px;
    margin-top: 12px;
  }
  .nav-width {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .iframe {
    width: 337px;
    height: 189px;
  }
  .about-self-image {
    height: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .about-container {
    display: flex;
    padding: 20px;
    justify-content: center;

    flex-direction: column;

    margin-bottom: 200px;
  }
}
.card-title {
  font-weight: bold;
}

.grid {
  flex-wrap: wrap !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.admin-main-button {
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid white;
  padding: 20px;
  width: 400px;
  background: rgba(200, 200, 200, 0.2);
  color: black !important;
}

.admin-main-button:hover {
  box-shadow: 0px 0px 2px rgb(100, 100, 100);
  border: 1px solid black;
  background: white;
}

.active-pag {
  background: rgba(255, 245, 0, 1);
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.pag {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 10px;

  color: black;
}

ul li {
  color: black;
}

.modal {
  box-shadow: 2px 2px 6px black;
  max-width: 1000px;
  background: rgba(16, 18, 20, 0.95);
}

.item-pag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 20px;
  width: 20px;
  color: black !important;
  font-size: 18px;
}
