html,
body,
#app {
  color: black;
  background-color: rgb(250, 250, 250);
  font-weight: 350;
  font-family: "Gill Sans", monospace;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.list-image {
  border-radius: 0px !important;
  width: 50px;
  height: 50px;
}
.menu-button {
  width: 100px;
  height: 30px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 45px;
  cursor: pointer;
  border: 1px solid black;
}
.input-field {
  margin: 20px 10px;
}
.list-panel {
  margin: 10px;
  margin-bottom: 50px;
}

.list-button {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 225px;
  height: 45px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  margin: 40px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
  transition: 0.1s;
}
.list-button:hover {
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
  transition: 0.1s;
  background: rgba(255, 245, 0, 1);
}

.header {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
  font-size: 16px;
  border-top: 4px solid rgba(240, 235, 0, 0.95);
}

.yellow-button {
  width: 200px;
  height: 50px;
  background: rgba(255, 255, 100, 0.6);
  border: 3px solid black;
  outline: none !important;
  font-weight: bold;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  cursor: pointer;
  color: black;
  text-align: center;

  border-radius: 5px;
}

.yellow-button:hover {
  background: rgba(255, 245, 0, 1);
  box-shadow: 0px 0px 5px black;
}

.artwork-image {
  box-shadow: 5px 7px 3px rgba(50, 50, 50, 0.5);
  max-width: 100%;
  max-height: 100%;
}
.card-image {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 5px 7px 3px rgba(50, 50, 50, 0.5);
}
.outline-button {
  width: 250px;
  height: 50px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  font-weight: bold;

  margin-top: 30px;
  cursor: pointer;
  color: black;
}

.nav {
  box-shadow: 0px 0.5px 1px rgba(220, 220, 220, 0.5);
  margin-bottom: 50px;
}

.card-action {
}

.subContent {
  font-size: 12px;
  margin-left: 3px;
}

.modal {
  padding: 100px;
}
.card-content {
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: right;
  right: 0px;
  text-align: left;
  padding: 15px;
  color: black;
}

.card-content:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.art-content {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: right;
  right: 0px;
  text-align: left;
  margin-left: 3px;
  padding: 10px;
  color: black;
  width: 100%;
}

.admin-image-add {
  height: 100px;
}

.card-container {
  margin: auto;
  max-width: 500px;
}

.gallery-content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 500px;
}
.art-content-container {
  display: flex;

  justify-content: space-between;
  margin-top: 30px;

  max-width: 700px;
}

.outline-button:hover {
  background: rgba(255, 245, 0, 1) !important;
  .transition: 0.5s;
}
.landing-about {
  float: left;
  height: 300px;
  margin: 30px;
  margin-top: 0px;
  display: flex;
  align-items: center;
}
.landingBlob {
  padding: 40px;
  position: absolute;
  text-align: left;
  right: 20px;
  top: 80px;
  left: 20px;
}

.carousel-image {
  max-width: 300px;
  box-shadow: 5px 7px 3px rgba(50, 50, 50, 0.5);
}

.gallery-image {
  max-width: 400px;
}

.add-image {
  width: 50%;
}
.type-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1500px;

  margin: 0px;
  margin-bottom: 200px;
  margin-top: 20px;
}
.type-box {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 35px;
  color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5),
    02px 2px 10px rgba(0, 0, 0, 1) inset;
  background-size: cover;
}

.circle {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5),
    02px 2px 10px rgba(0, 0, 0, 1) inset;
}

.type-box-cover {
  width: 250px;
  height: 250px;
  background: rgba(20, 20, 20, 0.6);
  text-align: center;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  letter-spacing: 0.07em;
  text-shadow: 0px 0px 10px black;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;

  text-transform: uppercase;
}
.iframe {
  width: 560px;
  height: 315px;
}

.collection-item:hover {
  background: rgba(250, 240, 0, 0.01);
}
.about-self-image {
  float: left;
  margin: 20px;
  margin-left: 0px;
  margin-bottom: 10px;
  height: 300px;
}
.type-box-cover:hover {
  background: none;
  text-shadow: 0px 0px 10px white;
  color: black;
}

.about-title {
  margin-bottom: 30px;
}
.about-container {
  display: flex;
  padding: 20px;
  justify-content: center;

  flex-direction: column;
  font-size: 16px;
  margin-bottom: 200px;
}

@media only screen and (max-width: 500px) {
  .iframe {
    width: 200px;
    height: 100px;
  }
  .landingBlob {
    padding: 20px;
    position: absolute;
    text-align: left;
    right: 30px;
    top: 20px;
    left: 10px;
  }
  .gallery-image {
    max-width: 250px;
  }
  .landing-about {
    float: center;
    height: 200px;
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 700px) {
  .iframe {
    width: 337px;
    height: 189px;
  }
  .about-self-image {
    height: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .about-container {
    display: flex;
    padding: 20px;
    justify-content: center;

    flex-direction: column;
    font-size: 16px;
    margin-bottom: 200px;
  }
}
.card-title {
  font-weight: bold;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
  padding-top: 10px;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 0px 30px 30px;
  margin: 0px;
  margin-bottom: 100px;
}

.admin-main-button {
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid white;
  padding: 20px;
  width: 400px;
  background: rgba(200, 200, 200, 0.2);
  color: black !important;
}

.admin-main-button:hover {
  box-shadow: 0px 0px 2px rgb(100, 100, 100);
  border: 1px solid black;
  background: white;
}

.active-pag {
  background: rgba(255, 245, 0, 1);
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.pag {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 1);
  border-radius: 10px;

  color: black;
}

ul li {
  color: black;
}

.item-pag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 20px;
  width: 30px;
  color: black !important;
  font-size: 18px;
}
