html,
body,
#app {
  color: black;
  background-color: rgb(253, 253, 253);
  font-weight: 350;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

button:focus {
  background-color: rgb(240, 255, 75);
  border-radius: 10px;
}

main {
  flex: 0 auto;
}

.list-image {
  border-radius: 10px !important;

  object-fit: cover;
  margin-right: 20px !important;
}
.menu-button {
  width: 100px;
  height: 30px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 45px;
  cursor: pointer;
  border: 1px solid black;
}
.input-field {
  margin: 20px 10px;
}
.list-panel {
  margin: 10px;
  margin-bottom: 50px;
}

.list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 225px;
  height: 45px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  margin: 40px;
  background: rgb(255, 255, 253) !important;
  box-shadow: 2px 2px 6px rgb(230, 230, 240), -2px -2px 6px rgb(240, 240, 240);
}
.list-button:hover {
  box-shadow: 2px 2px 3px rgb(230, 230, 240) inset,
    -2px -2px 2px rgb(255, 255, 255) inset;
  background: rgba(250, 250, 253);
}
.list-button:active {
  box-shadow: 0px 0px 40px rgba(120, 180, 250, 0.2) !important;
  background: rgba(240, 245, 243);
}

header {
}

.yellow-button {
  width: 200px;
  height: 50px;
  background: rgba(255, 255, 100, 0.6);
  border: 3px solid black;
  outline: none !important;
  font-weight: bold;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  cursor: pointer;
  color: black;
  text-align: center;

  border-radius: 5px;
}

.yellow-button:hover {
  background: rgba(255, 245, 0, 1);
  box-shadow: 0px 0px 5px black;
}

.artwork-image {
  box-shadow: 5px 7px 3px rgba(50, 50, 50, 0.5);
  max-width: 100%;
  max-height: 100%;
}
.card-image {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 5px 7px 3px rgba(50, 50, 50, 0.5);
}
.outline-button {
  width: 250px;
  height: 50px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  font-weight: bold;

  margin-top: 30px;
  cursor: pointer;
  color: black;
}
.tabs .tab a:focus.active {
  background-color: rgba(255, 250, 250, 0) !important;
}

.tabs .tab a {
  color: #000;
  font-weight: 600;
  letter-spacing: 0.05em;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color: rgba(255, 255, 150) !important;
  border-radius: 15px;
  color: #000;
} /*Text color on hover*/

.tabs .tab a.active {
  color: #000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: yellow;
  box-shadow: 0px 0px 1px rgb(159, 159, 159) inset;

  border-radius: 10px;
  height: 7px;
} /*Color of underline*/

.nav {
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-around;
  box-shadow: none;
}

.stripe {
  height: 5px;
  width: 100%;
  margin: 20px;
  background: yellow;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
}

.nav-content {
  background: white;
  margin-top: -20px;
  height: 40px;
  margin-bottom: 10px;
}
.nav-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 10px;
  z-index: 100000;
  border-radius: 10px;
  height: 30px;
  font-weight: 600;
}
.nav-tab:hover {
  background-color: rgba(255, 255, 100, 0.5);
}
.card-action {
}

.subContent {
  font-size: 12px;
  margin-left: 3px;
}

.modal {
  padding: 100px;
}
.card-content {
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: right;
  right: 0px;
  text-align: left;
  padding: 15px;
  color: black;
}

.card-content:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.art-content {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: right;
  right: 0px;
  text-align: left;
  margin-left: 3px;
  padding: 10px;
  color: black;
  width: 100%;
}

.admin-image-add {
  height: 100px;
}

.card-container {
  margin: 200px 0px;
  max-width: 500px;
}
.logo {
  width: 130px;

  margin-top: 12px;
}
.gallery-content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 500px;
}
.art-content-container {
  display: flex;

  justify-content: space-between;
  margin-top: 30px;

  max-width: 700px;
}

.outline-button:hover {
  background: rgba(255, 245, 0, 1) !important;
  .transition: 0.5s;
}
.landing-about {
  float: left;
  height: 300px;
  margin: 30px;
  margin-top: 0px;
  display: flex;
  align-items: center;
}
.landingBlob {
  padding: 40px;
  position: absolute;
  text-align: left;
  right: 20px;
  top: 80px;
  left: 20px;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 30px;
  height: 20px;
  max-width: 500px;
}

.login-form {
  width: 400;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding: 50px;
  margin: 50px;
  background: white;
}

.full-width {
  width: 100%;
}

.column {
  flex-direction: column;
}

.nav-wrapper {
  background-color: rgba(255, 250, 100, 0.02);
}
.pointer {
  cursor: pointer;
}

.right {
  margin-right: 20px;
}
.header-stripe {
  width: 100%;
  background: rgba(255, 245, 0, 0.8);
  height: 4px;
}

.header-tab {
  color: black;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.056em;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  height: 700px;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.carousel-image {
  max-width: 300px;
  box-shadow: 5px 7px 3px rgba(50, 50, 50, 0.5);
}

.gallery-image {
  max-width: 400px;
}

.add-image {
  width: 50%;
}
.type-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1500px;

  margin-bottom: 200px;
  margin-top: 20px;
}
.type-box {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 35px;
  color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5),
    02px 2px 10px rgba(0, 0, 0, 1) inset;
  background-size: cover;
}
.type-box:active {
  box-shadow: 5px 5px 50px rgba(120, 180, 240, 0.5) !important;
}
.type-box:hover {
  box-shadow: 0px 2px 10px rgba(255, 255, 200, 0.9),
    02px 2px 30px rgba(255, 255, 200, 0.5);
}

.circle {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5),
    02px 2px 10px rgba(0, 0, 0, 1) inset;
}

.type-box-cover {
  width: 250px;
  height: 250px;
  background: rgba(20, 20, 20, 0.6);
  text-align: center;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  letter-spacing: 0.07em;
  text-shadow: 0px 0px 10px black;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;

  text-transform: uppercase;
}
.iframe {
  width: 560px;
  height: 315px;
}

.collection {
  border: none;
  background: transparent;
}

.collection-item {
  border: none !important;
  margin: 10px !important;
  border-radius: 5px;

  background: rgb(255, 255, 253) !important;
  -webkit-box-shadow: 1px 1px 5px #bebebe, -3px -3px 5px #ffffff;
  -moz-box-shadow: 1px 1px 5px #bebebe, -3px -3px 5px #ffffff;
  box-shadow: 1px 1px 5px #bebebe, -3px -3px 5px #ffffff;
}

.collection-item:hover {
  box-shadow: 2px 2px 5px rgb(220, 220, 220) inset,
    -2px -2px 5px rgb(255, 255, 255) inset;
  background: rgb(250, 250, 250) !important;
}
.collection-item:active {
  box-shadow: 2px 2px 3px rgb(230, 230, 240) inset,
    -2px -2px 2px rgb(230, 230, 240);
  background: rgb(244, 244, 244) !important;
}
.about-self-image {
  float: left;
  margin: 20px;
  margin-left: 0px;
  margin-bottom: 10px;
  height: 300px;
}
.type-box-cover:hover {
  background: none;
  text-shadow: 0px 0px 10px white;
  color: black;
}

.about-title {
  margin-bottom: 30px;
  text-decoration: underline;
}
.about-container {
  display: flex;
  padding: 20px;
  justify-content: center;

  flex-direction: column;
  font-size: 16px;
  margin-bottom: 200px;
}

@media only screen and (max-width: 500px) {
  .iframe {
    width: 200px;
    height: 100px;
  }

  .landingBlob {
    padding: 20px;
    position: absolute;
    text-align: left;
    right: 30px;
    top: 20px;
    left: 10px;
  }
  .gallery-image {
    max-width: 250px;
  }
  .landing-about {
    float: center;
    height: 200px;
    margin: 10px;
  }

  .carousel-image {
    width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 120px;
    margin-top: 12px;
  }
}
@media only screen and (max-width: 700px) {
  .iframe {
    width: 337px;
    height: 189px;
  }
  .about-self-image {
    height: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .about-container {
    display: flex;
    padding: 20px;
    justify-content: center;

    flex-direction: column;
    font-size: 16px;
    margin-bottom: 200px;
  }
}
.card-title {
  font-weight: bold;
}

.grid {
  flex-wrap: wrap !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.admin-main-button {
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid white;
  padding: 20px;
  width: 400px;
  background: rgba(200, 200, 200, 0.2);
  color: black !important;
}

.admin-main-button:hover {
  box-shadow: 0px 0px 2px rgb(100, 100, 100);
  border: 1px solid black;
  background: white;
}

.active-pag {
  background: rgba(255, 245, 0, 1);
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.pag {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 10px;

  color: black;
}

ul li {
  color: black;
}

.modal {
  box-shadow: 2px 2px 6px black;
  max-width: 1000px;
  background: rgba(16, 18, 20, 0.95);
}

.item-pag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 20px;
  width: 20px;
  color: black !important;
  font-size: 18px;
}
